.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.showCase{
  display: flex;
  justify-content: space-around;
  width: 90%;
}

a {
  text-decoration: none;
  color: black;
}