.display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 2%;
}

.mainWrapper{
    display: flex;
    align-items: flex-start;
}

.type {
    align-self: center;
}

.artist {
  font-size: medium;  
}